
/* #region debug */

.debug{

}

/* #endregion */


:root{
    --bool-banner-bg-color: rgb(88, 88, 231);
}

/* #region common */
*{
    margin: 0;
    /* border: 1px solid black; */
}

a{
    display: block;
    text-decoration: none;
}

svg{
    display: block;
}

img{
    width: 100%;
}

/* #endregion */

/* #region utility */

.centering{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container{
    margin: 10% 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    flex-basis: 30%;
    margin-bottom: 2rem;
}

.section-title{
    flex-basis: 100%;
}

.d-flex{
    display: flex;
}

/* #endregion */

/* #region header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 2rem;
}

/* #endregion */

/* #region main */

/* #region banner */



.banner{
    display: flex;
    flex-flow: wrap;
    background-color: var(--bool-banner-bg-color);
}

.banner-title{
    text-align: center;
    font-size: xx-large;
    width: 100%;
    padding: 5vh;
}

.banner-text-box{
    display: flex;
    align-items: left;
    flex-wrap: column wrap;
    justify-content: space-evenly;
    
}

.banner-text{

    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.banner-img{
    width: 100vh;
    margin-left: -2rem;
    margin-bottom: -2rem;
}

/* #endregion */

/* #region partnerships */

.partners-logo-4x{
    width: 33%;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
   
}

.logo{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.logo>img{
height: 50%;
width: 50%;
object-fit: contain;
/* filter: invert(100%); */
}

.partners-logo-center{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.partners-logo-center>hr{
    width: 3rem;
}

.partners-logo-center>img{
    width: 50%;
}



/* #endregion */


/* #endregion */

/* #region footer */

/* #endregion */



/* #region random testing (just ignore) */



/* #endregion */
