
/* #region debug */

.debug{

}

/* #endregion */


:root{
    --bool-banner-bg-color: rgb(88, 88, 231);
}

/* #region common */
*{
    margin: 0;
    border: 1px solid black;
}

a{
    display: block;
    text-decoration: none;
}

svg{
    display: block;
}

img{
    width: 100%;
}

/* #endregion */

/* #region utility */

.centering{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container{
    margin: 10% 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    max-height: 50%;
    max-width: 30%;
    margin-bottom: 2rem;
}

.section-title{
    flex-basis: 100%;
}

/* #endregion */

/* #region header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 2rem;
}

/* #endregion */

/* #region main */

/* #region banner */



.banner{
    display: flex;
    flex-flow: wrap;
    background-color: var(--bool-banner-bg-color);
}

.banner-title{
    text-align: center;
    font-size: xx-large;
    width: 100%;
    padding: 5vh;
}

.banner-text-box{
    display: flex;
    align-items: left;
    flex-wrap: column wrap;
    justify-content: space-evenly;
    
}

.banner-text{

    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.banner-img{
    width: 100vh;
    margin-left: -2rem;
    margin-bottom: -2rem;
}

/* #endregion */

/* #region bussiness-plan */

.card{
    flex-basis: 33%;
}

/* #endregion */

/* #endregion */

/* #region footer */

/* #endregion */
